.header-container{
    margin-top: 0px;
    height: 120px;
    background: linear-gradient(#f6412d, #ff6433);
    display: flex;
    direction: ltr;
}

.wrapper-header{
    margin: 0 18%;
}

#logo{
    height: 84px;
    width: 120px;
}